
<!--  <app-product-detail (sendProductData)="getProductData($event)"></app-product-detail> --> 
<a 
        class="btn btn-primary btn-block btn-lg mb-5" 
        [routerLink]="['add']" routerLinkActive="router-link-active" 
        >Add Product
</a>
<!-- (click)="isAddProduct=true;"
*ngIf="!isAddProduct" -->
<app-product-add 
        *ngIf="isAddProduct" 
        (isAddProduct)="isAddProductChange($event)">
</app-product-add >

<h1>selct for search option</h1>
<select name="" (change)="onSelectChange(selectValue.value)"  ngModel #selectValue="ngModel">
  <option value="" >Search By Id</option>
  <option value="title">Search By Title</option>
  <option value="idTitle">Search By Id and Title</option>
</select>

<br>


<fieldset>
  <legend  >For Search</legend>
  <input type="checkbox" name="search" (change)="onheckBoxChange($event)" value="id" id="">
  <label for="">Id</label>
  <br>
  <input type="checkbox" name="search" (change)="onheckBoxChange($event)" value="title" id="">
  <label for="music">Title</label>
  
</fieldset>
<fieldset>


<div class="form-group">
  <label for="">Search : </label>
  <input type="text"
    class="form-control" 
    name="search" 
    ngModel
    #search="ngModel"
    >
    <p>{{search.value}}</p>
</div>

<div style="overflow: scroll; height: 400px;" >

<table class="table table-striped table-dark" 
  *ngIf="productLists">
  <thead class="">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Original Id</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor="let product of productLists | filter : searchArray : search.value;let i=index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ product.id}}</td>

      <td>{{ product.title}}</td>
      <td>{{ product.price}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.totalPrice}}</td>

      <td><app-product-stock-status [stock]="product.stock" [productItem]="product"></app-product-stock-status></td>  

      <button type="button"
              class="btn-block btn-danger mt-2" 
              (click)="onClickDel(product.id)"
    >
    Delete
</button>
<button
        (click)="onEditButtonClick(product)"
        class="btn-block mt-2 btn-primary"        
>Edit product</button
>

<!-- [queryParams]="{id:product.id,title:product.title,price:product.price,stock:product.stock}" -->
<a type="button" name="" id=""
    class="btn-block mt-2 btn-primary" 
    (click)="onShowProduct(product.id)"
    >
    Show
</a>
    </tr>

    <tr>
      <td></td>
      <td>Total</td>
      <td>Price Total : {{ getTotalPrice() }}</td>
      <td>Stock Total : {{ getTotalStock() }}</td>
      <td>Total : {{ getAllTotaloPrice() }}</td>
      <td>All Total : {{ getTotalPrice() + getTotalStock() +   getAllTotaloPrice() }}</td>
    </tr>

  </tbody>
</table>
</div
>
<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
    




