.active{
    color: red;
    padding: 15px;
}
a{
    text-decoration: none;
}
li{
    padding: 10px;;
}
.a:link {
    color: red;
  }
  
  /* visited link */
  .a:visited {
    color: green;
  }
  
  /* mouse over link */
  .a:hover {
    color: hotpink;
  }
  
  /* selected link */
  .a:active {
    color: blue;
  }