<!-- <button type="button" 
        name="" id="" 
        class="btn btn-primary"  
        [routerLink]="['/signup']" routerLinkActive="router-link-active" 
        >signup</button>
<button type="button" 
        name=""         
        id="" 
        class="btn btn-primary" 
        [routerLink]="['/signin']" routerLinkActive="router-link-active" 
        >signin</button> -->

        
         <!-- <router-outlet></router-outlet> -->
        

<!-- <app-sign-up></app-sign-up> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->